* {
  text-align: center;
}

ul.plantul {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.plantul li {
  display: inline-block;
  background-color: #DDDDDD;
  padding: 10px 15px;
  margin: 10px 10px;
}

ul.plantul li:hover {
  background-color: #337ab7;
  color: white;
}

p.xsmall {
  font-size: 11px;
  color: #808080;
}